* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  top: 0;
  left: 0;
  /* z-index: 1000; */
  width: 100vw;
  height: 60px;
  border: 1px solid black;
  background-color: rgb(137, 44, 44);
  border-radius: 5px;
  position: fixed;
  box-shadow: 5px black;
}
.logo {
  height: 40px;
  width: 40px;
  z-index: 1000;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}
.photo {
  top: 0;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  z-index: 1000;
  position: fixed;
}
.content {
  margin-top: 10px;
  margin-left: 1000px;
}
.anch {
  text-decoration: none;
  font-size: x-large;
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10px;
}
.anchor {
  text-decoration: none;
  font-size: x-large;
  color: black;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 10px;
}
/* Dropdown button */
.dropbtn {
  background-color: rgb(137, 44, 44);
  color: black;
  padding: 10px;
  margin-left: 15px;
  border: none;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}
/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: rgb(105, 32, 32);
}

/* The container <div> - needed to position the dropdown content */
.dropdwn {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdwn-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdwn-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdwn-content a:hover {
  background-color: #919191;
}

/* Show the dropdown menu on hover */
.dropdwn:hover .dropdwn-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdwn:hover .dropbtn {
  background-color: rgb(105, 32, 32);
}
.dropdwn:hover {
  cursor: pointer;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
body {
  height: 100vh;
  width: 100vw;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DD83AD", endColorstr="#C3E1FC", GradientType=1 );
}
.container {
  max-width: 75vw;
  padding: 2rem 1rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.header_container {
  margin-bottom: 2.8rem;
}
.header_title {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 700;
  margin-top: 100px;
}
.header_desc {
  max-width: 570px;
  text-align: center;
  color: gray;
  margin: 0 auto;
}
.main_container {
  display: grid;
  gap: 0.5rem;
  /* grid-template-columns: repeat(1,1fr); */
  /* //responsive grid// */
  grid-template-columns: repeat(auto-fit, minmax(217px, 250px));
  justify-content: center;
}
.card_container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(57, 56, 56);
  border-radius: 8px;
  overflow: hidden;
}
.card_container:hover .card_image {
  transform: scale(1.1);
  transition-duration: 200ms;
}
.card_image_container {
  position: relative;
  overflow: hidden;
  height: 11rem;
}
@media (min-width: 768px) {
  .card_image_container {
    height: 16rem;
  }
}
.card_image {
  object-fit: cover;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.card_title_container {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  margin-bottom: 10px;
}
.card_title_anchor {
  width: fit-content;
}
.card_title {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  line-height: 2rem;
  margin-bottom: 0.3rem;
  width: 200px;
}
.card_title_anchor:hover .card_title {
  color: rgb(0, 0, 255);
}
.card_desc {
  color: rgb(95, 92, 92);
  font-size: 1rem;
}
.card_footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.7rem;
}
.author_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
.author_avataar_container {
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 70%;
  margin-left: 5px;
  margin-bottom: 5px;
}
.author_avataar {
  height: 2rem;
  width: 2.2rem;
}
.author_info_container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.card_tag_container {
  color: gray;
  font-size: 0.9rem;
  border: 1px solid rgb(99, 95, 95);
  border-radius: 5px;
  line-height: 1.3rem;
  margin-right: 0.5rem;
  overflow: hidden;
}
